<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    {{> navbar}}
    <table class="centered">
        <tr>
            <td>
                <a class='btn' href="/categories/work_category">Work</a>
            </td>
            <td>
                <a class='btn' href="/categories/home_category">Home</a>
            </td>
            <td>
                <a class="btn" href="/categories/none_category">None</a>
            </td>
        </tr>
    </table>
</body>
</html>