<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Info page</title>
</head>
<style>
    .text {
        text-align: center;
    }
</style>
<body>
    {{> navbar}}
    <div class="text">
        <h1>Test for CGP Systems<br></h1>
        <strong>made by Dmitriy Kashchenko < infinityworld0099@gmail.com ></strong><br>
        <strong><a href="https://github.com/ra1nbow0099">Github link</a></strong>
    </div>
</body>
</html>